<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<system.serviceModel>
     <services>
         <service name="ConsoleWCF.WCFService.AuthService.AuthWCF" behaviorConfiguration="ServiceBehaviour"> 
             <endpoint address="http://localhost:4040/auth" binding="webHttpBinding" bindingConfiguration="httpBinding" behaviorConfiguration="WebHttpBehaviour" contract="ConsoleWCF.Interfaces.IAuth"> 
             </endpoint>
         </service>
     </services>
  
     <bindings>
         <webHttpBinding> 
             <binding name="httpBinding" /> 
         </webHttpBinding> 
     </bindings>
    
     <behaviors>
         <serviceBehaviors> 
             <behavior name="ServiceBehaviour" /> 
         </serviceBehaviors>
         <endpointBehaviors>
             <behavior name="WebHttpBehaviour"> 
                 <webHttp automaticFormatSelectionEnabled="false" defaultBodyStyle="Wrapped" defaultOutgoingResponseFormat="Json" helpEnabled="true" /> 
             </behavior>
         </endpointBehaviors> 
     </behaviors>
	</system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>